body{
    margin: 0px;
    padding: 0px;
   
}
.incharge{
    /* border: 2px solid rgb(151, 31, 31); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 98.99vw;
    /* background-color: rgb(155, 159, 255); */
}
.but{
    height: 5vh;
    width: 10vw;
    font-weight: bolder;
    margin: 0px 10px;
    float: right;
    background-color: rgb(197, 210, 255);
    color: white;
    border-radius: 20px;
    border: none;

}
.but:hover{
    cursor: pointer;
    background-color: rgb(155, 159, 255);
    color: white;
}
.c1{
height: 80vh;
background-color: white;


}
.inspactor{
text-align: center;
color: white;
background-color: rgb(155, 159, 255);
}
.in1{
 float: left;
 margin: 0px 30px;
}

@media only screen and (max-width:412px) {
    .incharge{
        border: 2px solid rgb(151, 31, 31);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100vw;
        /* background-color: rgb(155, 159, 255); */
    }
    .but{
        height: 5vh;
        width: 15vw;
        font-weight: bolder;
        margin: 0px 2px;
        float: right;
        background-color: rgb(197, 210, 255);
        color: white;
        border-radius: 20px;
        border: none;
    
    }
    .but:hover{
        cursor: pointer;
        background-color: rgb(155, 159, 255);
        color: white;
    }
    .c1{
    height: 83vh;
    width: 100vw;
    background-color: white;
    
    
    }
    .inspactor{
    text-align: center;
    color: white;
    background-color: rgb(155, 159, 255);
    width: 100vw;
    }
    .in1{
     float: left;
     margin: 0px 0px;
    }

}