* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';

}

.nav {

  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  background-color: rgb(166, 247, 179);



}

.logo {
  padding: 10px;
  margin: 15px;
  background-color: rgb(110, 234, 133);
  color: white;

}

.navul {
  display: flex;
  background-color: rgb(166, 247, 179);
  flex-wrap: wrap;
}

.navli {
  list-style: none;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  background-color: rgb(166, 247, 179);
  color: white;



}

.button2:hover {
  background-color: rgb(110, 234, 133);
  color: white;
  cursor: pointer;
  text-decoration: dashed;
}








@media only screen and (max-width:412px) {
  .nav {

    width: 112vw;
    /* border: 2px solid black; */
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: rgb(166, 247, 179);
    height: 25vh;



  }

  .logo {
    padding:  10px;
    height: 4vh;
    margin: 5px;
    background-color: rgb(110, 234, 133);
    color: white;
    font-size: 2rem;

  }

  .navul {
    display: flex;
    background-color: rgb(166, 247, 179);
    flex-wrap: wrap;

  }

  .navli {
    list-style: none;
    padding: 10px;
    margin: 9px;
    border-radius: 10px;
    background-color: rgb(166, 247, 179);
    color: white;
    font-size: 1.2rem;



  }

  .button2:hover {
    background-color: rgb(110, 234, 133);
    color: white;
    cursor: pointer;
    
  }

  
}